* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.main-header {
  height: 90vh;
  width: 100%;
  background-image: url("https://blackrockdigital.github.io/startbootstrap-agency/img/header-bg.jpg");
  background-size: cover;
}

.nav-bar {
  height: 13vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 0px 50px;
  font-weight: 600;
}

.title {
  color: #FECA30;
  font-family: 'Kaushan Script', cursive;
  font-size: 30px;
  font-weight: 700;
}

.links-container {
  width: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center-text {
  width: 100%;
  height: 63vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 90px 0px;
  color: #fff;
}

.center-text h3 {
  font-size: 42px;
  font-family: 'Neuton', serif;
  font-style: italic;
}

.center-text h1 {
  font-size: 72px;
}

.center-text button {
  height: 70px;
  width: 200px;
  border-radius: 5px;
  background: #FECA30;
  border-style: none;
  color: #fff;
  font-size: 18px;
  font-weight: 900;
}

.ham-menu {
  display: none;
}

.menu {
  width: 100%;
  height: 240px;
  background: #1E2124;
  position: absolute;
  top: -300px;
  transition: .70s;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 20px;
  font-weight: 600;
}

.slide {
  top: 7vh;
}

.top-body {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 130px 100px;
}

.top-body h1 {
  font-size: 46px;
}

.top-body p {
  color: #616A72;
  font-family: 'Neuton', serif; 
  font-size: 20px;
  font-weight: 500;
}

.layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.layout h5 {
  margin-bottom: 18px;
  font-size: 24px;
}

.circle {
  height: 122px;
  width: 122px;
  border-radius: 50%;
  background: #FECA30;
  margin-bottom: 18px;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0px 40px;
  text-align: center;
}

@media(max-width: 991px) {
  .center-text {
    padding: 120px 280px;
    text-align: center;
  }
  .title {
    font-size: 20px;
  }
  .links-container {
    display: none;
  }
  .nav-bar {
    background: #1E2124;
    height: 9vh;
  }
  .ham-menu {
    display: block;
    height: 40px;
    width: 76px;
    background: #FECA30;
    border-radius: 4px;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media(max-width: 375px) {
  .nav-bar {
    height: 7vh;
    padding: 0px 20px;
  }
  .center-text h3 {
    font-size: 26px;
  }
  .main-header {
    height: 67vh;
    background-position: center; 
  }
  .center-text h1 {
    font-size: 54px;
    margin-bottom: 15px;
  }
  .center-text {
    margin: 0px;
    padding: 123px 0px;
  }

  .top-body {
    display: block;
    padding: 0px; 
    margin: 20px 35px;   
  }

  .top-body h1 {
    margin-left: 40px;
  }

  .layout {
    display: block;
    margin: 20px 0px;
    padding: 20px 0px;    
  }

  .layout p {
    margin-bottom: 30px;
  }

}